<ion-view view-title="Dashboard">
    <ion-nav-buttons side="left">
        <button class="button" ng-click="mainCtrl.toggleMenu()">
            menu
        </button>
    </ion-nav-buttons>
  <ion-content>

        <ion-list>
          <ion-item ng-repeat="item in mainCtrl.items" on-swipe-left="mainCtrl.swipe(item)"
                    class="animated"
                 ng-class="{'item-positive':item.checked}">
              <i class="icon ion-person-stalker"></i>
              {{ item.name }}!
              <span class="badge badge-assertive">{{ item.qty }}</span>
              <ion-option-button class="button-balanced"
                                 ng-click="edit(item)">
                  Edit
              </ion-option-button>
              <ion-option-button class="button-assertive"
                                 ng-click="mainCtrl.removeItem(item)">
                  Delete
              </ion-option-button>
          </ion-item>
        </ion-list>
  </ion-content>
</ion-view>
